<html>
<style>
    .container {width: 100%; margin:auto;}
    @media (min-width: 600px) {.container {width: 80%;}}
    @media (min-width: 768px) {.container {width: 62%;}}
    @media (min-width: 1024px) {.container {width: 85%;}}
</style>

<div class = 'container'>
     <body>
        <h2>Welcome to Generative AI, may I know your name?</h2>
        <form action="/main" method="post">
             <p><input type="text" name="name"></p>
             <p><input type="submit" value="Enter"></p></form>
     </body>

    </div>
</html>
