<style>
    .container {width: 100%; margin:auto;}
    @media (min-width: 600px) {.container {width: 80%;}}
    @media (min-width: 768px) {.container {width: 62%;}}
    @media (min-width: 1024px) {.container {width: 85%;}}
</style>

<div class = 'container'></div>
<p><h2>Reply from Palm (google)</h2></p>
<p><h2>{{result}}</h2></p>

<form action ='/main' method="post">
    <p><input type='submit' value="main"></p>
</form>

<form action ='/' method="post">
    <p><input type='submit' value="End"></p>
</form>
</div>